<style type="text/css">
{% if custom_header.height > 0 %}
.header-home .jumbotron {
	background-image:url('{{custom_header.url}}'); 
	/*height: {{custom_header.height}}px;*/
}
{% endif %}

{% if custom_header.height > 400 %}
.header-home .jumbotron h1 {
	margin-top: {{custom_header.height - 200}}px;
}
{% endif %}
</style>

<div class="header-home">
	<div class="container hidden-sm hidden-xs">
		<div class="jumbotron">
			<div class="box">
				<div class="row">
					<div class="col-md-8">
						<h1>{% if title %}{{title}}{% else %}{{site.title}}{% endif %}</h1>
					</div>
					<div class="col-md-4">
						<p>{{site.description}}</p>
					</div>
				</div>
			</div>
		</div>

		{% if lead_art.caption %}<p class="caption text-right">{{lead_art.caption}}</p>{% endif %}
	</div>
	<div class="container visible-sm visible-xs">
		<h1>{% if title %}{{title}}{% else %}{{site.title}}{% endif %}</h1>
	</div>
</div>
