<footer id="footer" class="container">
	<hr>
	<nav id="access" class="navbar" role="navigation">
	  <div class="container-fluid">
		  <ul class="navbar-nav nav navbar-right">
		  {% for item in footerMenu.items %}
			  <li id="menu-item-{{item.ID}}" class="">
				  <a href="{{item.link}}">{{item.title}}</a>
			  </li>
		  {% endfor %}
			  <li class="menu-item"><p class="navbar-text">Copyright {{"now"|date('Y')}}</p></li>
		  </ul>
	  </div>
	</nav>
</footer>

{{wp_footer}}
