{% block header %}
<header id="header">
  <nav id="access" class="main-navigation navbar" role="navigation">
	  <div class="container">
		  <div class="navbar-header">
        {% if not home %}
			  <a class="hdr-logo-link navbar-brand" href="{{site.url}}" rel="home">{{site.name}}</a>
        {% endif %}
		  </div>
		  <ul class="navbar-nav nav navbar-right">
		  {% for item in headerMenu.items %}
			  <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
				  <a href="{{item.link}}">{{item.title}}</a>
			  </li>
		  {% endfor %}
		  </ul>
	  </div>
  </nav>
</header>
{% endblock %}
