{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper container-fluid">
		<article class="post-type-{{post.post_type}} single" id="post-{{post.ID}}">
			<header>
				<h1 class="article-h1">{{post.title}}</h1>

				{% include 'tease/misc/categories.twig' %}
			</header>
			<section class="article-body">
				{{ post.content }}
			</section>

			{% if post.comments %}
			<section class="comments">
				<hr>
				<h3>Comments</h3>

				{% for comment in post.comments %}
					{% include 'comment.twig' %}
				{% endfor %}

				{{ gustav_comment_form(post.ID) }}

			</section>
			{% endif %}
		</article>
	</div>

{% endblock %}
